@import '../../styles/variables';

.item {
  display: flex;
  background-color: $color2;
  padding: 1rem;
  align-items: center;
  border-radius: 10px;

  img {
    max-height: 50px;
    display:block;
  }
}