@import '../../styles/_variables.scss';

footer {
  background-color: $color2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 4rem;
  position: absolute;
  width: 100%;
  bottom: 0;
}